PORT=
DATABASE_URL=
GATEWAY_CLIENT_ID=
GATEWAY_SECRET=
UGC_BASE_URL=
S3_BUCKET=
S3_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
DISCORD_CLIENT_ID=
RUST_LOG="gateway=debug"
LOG_FORMAT="pretty"